<%= form_for(familiar) do |f| %>
  <% if familiar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(familiar.errors.count, "error") %> prohibited this familiar from being saved:</h2>

      <ul>
      <% familiar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :player_id %>
    <%= f.select :player_id, Player.all.map { |player| [ player.name, player.id ] } %>
  </div>
  
  <div class="field">
    <%= f.label :base_familiar_id %>
    <%= f.select :base_familiar_id, BaseFamiliar.all.map { |familiar| [ familiar.name, familiar.id ] } %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="field">
    <%= f.label :health %>
    <%= f.number_field :health %>
  </div>

  <div class="field">
    <%= f.label :power %>
    <%= f.number_field :power %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
