<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @move.name %>
</p>

<p>
  <strong>Element:</strong>
  <%= @move.element %>
</p>

<p>
  <strong>Damage:</strong>
  <%= @move.damage %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @move.cost %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
