<%= form_for(base_familiar) do |f| %>
  <% if base_familiar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(base_familiar.errors.count, "error") %> prohibited this base_familiar from being saved:</h2>

      <ul>
      <% base_familiar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :health %>
    <%= f.number_field :health %>
  </div>

  <div class="field">
    <%= f.label :power %>
    <%= f.number_field :power %>
  </div>

  <div class="field">
    <%= f.label :element %>
    <%= f.select :element, BaseFamiliar.elements.keys.map { |element| [ element, element ] } %>
  </div>

  <div class="field">
    <%= f.label :background %>
    <%= f.text_field :background %>
  </div>
  
  <div class="field">
    <%= f.label :moves %>
    <%= f.select :move_ids, Move.all.map { |move| [ move.name_and_element, move.id ] }, {}, :multiple => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
