<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @base_familiar.name %>
</p>

<p>
  <strong>Health:</strong>
  <%= @base_familiar.health %>
</p>

<p>
  <strong>Power:</strong>
  <%= @base_familiar.power %>
</p>

<p>
  <strong>Element:</strong>
  <%= @base_familiar.element %>
</p>

<p>
  <strong>Background:</strong>
  <%= @base_familiar.background %>
</p>

<div>
<strong>Moves:</strong>
<ul>
  <% @base_familiar.moves.each do |move| %>
    <li>
      <%= move.name_and_element %>
    </li>
  <% end %>
</ul>
</div>
<%= link_to 'Edit', edit_base_familiar_path(@base_familiar) %> |
<%= link_to 'Back', base_familiars_path %>
