<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @player.gender %>
</p>

<p>
  <strong>X pos:</strong>
  <%= @player.x_pos %>
</p>

<p>
  <strong>Y pos:</strong>
  <%= @player.y_pos %>
</p>

<p>
  <strong>Background:</strong>
  <%= color_swatch @player.background %>
</p>

<div>
<strong>Familiar:</strong>
<ul>
  <% @player.familiars.each do |familiar| %>
    <li>
      <%= familiar.nick_and_name %>
    </li>
  <% end %>
</ul>
</div>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
