<%= form_for(pokemon) do |f| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :player_id %>
    <%= f.select :player_id, Player.all.map { |player| [ player.name, player.id ] } %>
  </div>
  
  <div class="field">
    <%= f.label :base_pokemon_id %>
    <%= f.select :base_pokemon_id, BasePokemon.all.map { |pokemon| [ pokemon.name, pokemon.id ] } %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="field">
    <%= f.label :health %>
    <%= f.number_field :health %>
  </div>

  <div class="field">
    <%= f.label :power %>
    <%= f.number_field :power %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
