<p id="notice"><%= notice %></p>

<h1>Pokemons</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Player</th>
      <th>Base pokemon</th>
      <th>Status</th>
      <th>Health</th>
      <th>Power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.nickname %></td>
        <td><%= pokemon.player %></td>
        <td><%= pokemon.base_pokemon %></td>
        <td><%= pokemon.status %></td>
        <td><%= pokemon.health %></td>
        <td><%= pokemon.power %></td>
        <td><%= link_to 'Show', pokemon %></td>
        <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
        <td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokemon', new_pokemon_path %>
