<%= form_for(base_pokemon) do |f| %>
  <% if base_pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(base_pokemon.errors.count, "error") %> prohibited this base_pokemon from being saved:</h2>

      <ul>
      <% base_pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :health %>
    <%= f.number_field :health %>
  </div>

  <div class="field">
    <%= f.label :power %>
    <%= f.number_field :power %>
  </div>

  <div class="field">
    <%= f.label :element %>
    <%= f.number_field :element %>
  </div>

  <div class="field">
    <%= f.label :background %>
    <%= f.text_field :background %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
